/* use rgb format without commas */
/* more details you can find here */
/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */

:root {
    /* custom colors */
    --primary: 253 209 64; /* #fdd140 */
    --primary-rgba: 253, 209, 64; /* #fdd140 keep comma only here*/
    --background: 32 46 59; /* #202e3b */
    --grid-dark-rgba: 11, 19, 32; /* #0b1320 keep comma only here*/
    --light-blue: 33 255 222; /* #21ffde */
    --silver-default: 192 192 192; /* #c0c0c0  */
    --silver-secondary: 152 151 151; /* #989797 */
    --bronze-default: 203 158 96; /* #cb9e60 */
    --bronze-secondary: 151 117 71; /* #977547 */
    --gold-default: 253 209 64; /* #fdd140 */
    --gold-secondary: 186 152 43; /* #ba982b */
    --disabled: 83 83 83; /* #535353 */
    --modal-background: 25 25 31; /* #19191f */
    --background-body: 11 19 32; /* #0b1320 */
    --background-border: 49 71 90; /* #31475a */
    --progress-from: 87 82 52; /* #575234 */

    /* ------------------------------- */
    /* NOT ALL COLORS UNDER ARE USED ! */
    /* ------------------------------- */

    /* basic colors */
    --white: 255 255 255; /* #ffffff */
    --black: 0 0 0; /* #000000 */

    /* slate */
    --slate-50: 248 250 252; /* #f8fafc */
    --slate-100: 241 245 249; /* #f1f5f9 */
    --slate-200: 226 232 240; /* #e2e8f0 */
    --slate-300: 203 213 225; /* #cbd5e1 */
    --slate-400: 148 163 184; /* #94a3b8 */
    --slate-500: 100 116 139; /* #64748b */
    --slate-600: 71 85 105; /* #475569 */
    --slate-700: 51 65 85; /* #334155 */
    --slate-800: 30 41 59; /* #1e293b */
    --slate-900: 15 23 42; /* #0f172a */
    --slate-950: 2 6 23; /* #020617 */

    /* gray */
    --gray-50: 249 250 251; /* #f9fafb */
    --gray-100: 243 244 246; /* #f3f4f6 */
    --gray-200: 229 231 235; /* #e5e7eb */
    --gray-300: 209 213 219; /* #d1d5db */
    --gray-400: 156 163 175; /* #9ca3af */
    --gray-500: 107 114 128; /* #6b7280 */
    --gray-600: 75 85 99; /* #4b5563 */
    --gray-700: 55 65 81; /* #374151 */
    --gray-800: 31 41 55; /* #1f2937 */
    --gray-900: 17 24 39; /* #111827 */
    --gray-950: 3 7 18; /* #030712 */

    /* zinc */
    --zinc-50: 250 250 250; /* #fafafa */
    --zinc-100: 244 244 245; /* #f4f4f5 */
    --zinc-200: 228 228 231; /* #e4e4e7 */
    --zinc-300: 212 212 216; /* #d4d4d8 */
    --zinc-400: 161 161 170; /* #a1a1aa */
    --zinc-500: 113 113 122; /* #71717a */
    --zinc-600: 82 82 91; /* #52525b */
    --zinc-700: 63 63 70; /* #3f3f46 */
    --zinc-800: 39 39 42; /* #27272a */
    --zinc-900: 24 24 27; /* #18181b */
    --zinc-950: 9 9 11; /* #09090b */

    /* neutral */
    --neutral-50: 250 250 250; /* #fafafa */
    --neutral-100: 245 245 245; /* #f5f5f5 */
    --neutral-200: 229 229 229; /* #e5e5e5 */
    --neutral-300: 212 212 212; /* #d4d4d4 */
    --neutral-400: 163 163 163; /* #a3a3a3 */
    --neutral-500: 115 115 115; /* #737373 */
    --neutral-600: 82 82 82; /* #525252 */
    --neutral-700: 64 64 64; /* #404040 */
    --neutral-800: 38 38 38; /* #262626 */
    --neutral-900: 23 23 23; /* #171717 */
    --neutral-950: 10 10 10; /* #0a0a0a */

    /* stone */
    --stone-50: 250 250 249; /* #fafaf9 */
    --stone-100: 245 245 244; /* #f5f5f4 */
    --stone-200: 231 229 228; /* #e7e5e4 */
    --stone-300: 214 211 209; /* #d6d3d1 */
    --stone-400: 168 162 158; /* #a8a29e */
    --stone-500: 120 113 108; /* #78716c */
    --stone-600: 87 83 78; /* #57534e */
    --stone-700: 68 64 60; /* #44403c */
    --stone-800: 41 37 36; /* #292524 */
    --stone-900: 28 25 23; /* #1c1917 */
    --stone-950: 12 10 9; /* #0c0a09 */

    /* red */
    --red-50: 254 242 242; /* #fef2f2 */
    --red-100: 254 226 226; /* #fee2e2 */
    --red-200: 254 202 202; /* #fecaca */
    --red-300: 252 165 165; /* #fca5a5 */
    --red-400: 248 113 113; /* #f87171 */
    --red-500: 239 68 68; /* #ef4444 */
    --red-600: 220 38 38; /* #dc2626 */
    --red-700: 185 28 28; /* #b91c1c */
    --red-800: 153 27 27; /* #991b1b */
    --red-900: 127 29 29; /* #7f1d1d */
    --red-950: 69 10 10; /* #450a0a */

    /* orange */
    --orange-50: 255 247 237; /* #fff7ed */
    --orange-100: 255 237 213; /* #ffedd5 */
    --orange-200: 254 215 170; /* #fed7aa */
    --orange-300: 253 186 116; /* #fdba74 */
    --orange-400: 251 146 60; /* #fb923c */
    --orange-500: 249 115 22; /* #f97316 */
    --orange-600: 234 88 12; /* #ea580c */
    --orange-700: 194 65 12; /* #c2410c */
    --orange-800: 154 52 18; /* #9a3412 */
    --orange-900: 124 45 18; /* #7c2d12 */
    --orange-950: 67 20 7; /* #431407 */

    /* amber */
    --amber-50: 255 251 235; /* #fffbeb */
    --amber-100: 254 243 199; /* #fef3c7 */
    --amber-200: 253 230 138; /* #fde68a */
    --amber-300: 252 211 77; /* #fcd34d */
    --amber-400: 251 191 36; /* #fbbf24 */
    --amber-500: 245 158 11; /* #f59e0b */
    --amber-600: 217 119 6; /* #d97706 */
    --amber-700: 180 83 9; /* #b45309 */
    --amber-800: 146 64 14; /* #92400e */
    --amber-900: 120 53 15; /* #78350f */
    --amber-950: 69 26 3; /* #451a03 */

    /* yellow */
    --yellow-50: 254 252 232; /* #fefce8 */
    --yellow-100: 254 249 195; /* #fef9c3 */
    --yellow-200: 254 240 138; /* #fef08a */
    --yellow-300: 253 224 71; /* #fde047 */
    --yellow-400: 250 204 21; /* #facc15 */
    --yellow-500: 234 179 8; /* #eab308 */
    --yellow-600: 202 138 4; /* #ca8a04 */
    --yellow-700: 161 98 7; /* #a16207 */
    --yellow-800: 133 77 14; /* #854d0e */
    --yellow-900: 113 63 18; /* #713f12 */
    --yellow-950: 66 32 6; /* #422006 */

    /* lime */
    --lime-50: 247 254 231; /* #f7fee7 */
    --lime-100: 236 252 203; /* #ecfccb */
    --lime-200: 217 249 157; /* #d9f99d */
    --lime-300: 190 242 100; /* #bef264 */
    --lime-400: 163 230 53; /* #a3e635 */
    --lime-500: 132 204 22; /* #84cc16 */
    --lime-600: 101 163 13; /* #65a30d */
    --lime-700: 77 124 15; /* #4d7c0f */
    --lime-800: 63 98 18; /* #3f6212 */
    --lime-900: 54 83 20; /* #365314 */
    --lime-950: 26 46 5; /* #1a2e05 */

    /* green */
    --green-50: 240 253 244; /* #f0fdf4 */
    --green-100: 220 252 231; /* #dcfce7 */
    --green-200: 187 247 208; /* #bbf7d0 */
    --green-300: 134 239 172; /* #86efac */
    --green-400: 74 222 128; /* #4ade80 */
    --green-500: 34 197 94; /* #22c55e */
    --green-600: 22 163 74; /* #16a34a */
    --green-700: 21 128 61; /* #15803d */
    --green-800: 22 101 52; /* #166534 */
    --green-900: 20 83 45; /* #14532d */
    --green-950: 5 46 22; /* #052e16 */

    /* emerald */
    --emerald-50: 236 253 245; /* #ecfdf5 */
    --emerald-100: 209 250 229; /* #d1fae5 */
    --emerald-200: 167 243 208; /* #a7f3d0 */
    --emerald-300: 110 231 183; /* #6ee7b7 */
    --emerald-400: 52 211 153; /* #34d399 */
    --emerald-500: 16 185 129; /* #10b981 */
    --emerald-600: 5 150 105; /* #059669 */
    --emerald-700: 4 120 87; /* #047857 */
    --emerald-800: 6 95 70; /* #065f46 */
    --emerald-900: 6 78 59; /* #064e3b */
    --emerald-950: 2 44 34; /* #022c22 */

    /* teal */
    --teal-50: 240 253 250; /* #f0fdfa */
    --teal-100: 204 251 241; /* #ccfbf1 */
    --teal-200: 153 246 228; /* #99f6e4 */
    --teal-300: 94 234 212; /* #5eead4 */
    --teal-400: 45 212 191; /* #2dd4bf */
    --teal-500: 20 184 166; /* #14b8a6 */
    --teal-600: 13 148 136; /* #0d9488 */
    --teal-700: 15 118 110; /* #0f766e */
    --teal-800: 17 94 89; /* #115e59 */
    --teal-900: 19 78 74; /* #134e4a */
    --teal-950: 4 47 46; /* #042f2e */

    /* cyan */
    --cyan-50: 236 254 255; /* #ecfeff */
    --cyan-100: 207 250 254; /* #cffafe */
    --cyan-200: 165 243 252; /* #a5f3fc */
    --cyan-300: 103 232 249; /* #67e8f9 */
    --cyan-400: 34 211 238; /* #22d3ee */
    --cyan-500: 6 182 212; /* #06b6d4 */
    --cyan-600: 8 145 178; /* #0891b2 */
    --cyan-700: 14 116 144; /* #0e7490 */
    --cyan-800: 21 94 117; /* #155e75 */
    --cyan-900: 22 78 99; /* #164e63 */
    --cyan-950: 8 51 68; /* #083344 */

    /* sky */
    --sky-50: 240 249 255; /* #f0f9ff */
    --sky-100: 224 242 254; /* #e0f2fe */
    --sky-200: 186 230 253; /* #bae6fd */
    --sky-300: 125 211 252; /* #7dd3fc */
    --sky-400: 56 189 248; /* #38bdf8 */
    --sky-500: 14 165 233; /* #0ea5e9 */
    --sky-600: 2 132 199; /* #0284c7 */
    --sky-700: 3 105 161; /* #0369a1 */
    --sky-800: 7 89 133; /* #075985 */
    --sky-900: 12 74 110; /* #0c4a6e */
    --sky-950: 8 47 73; /* #082f49 */

    /* blue */
    --blue-50: 239 246 255; /* #eff6ff */
    --blue-100: 219 234 254; /* #dbeafe */
    --blue-200: 191 219 254; /* #bfdbfe */
    --blue-300: 147 197 253; /* #93c5fd */
    --blue-400: 96 165 250; /* #60a5fa */
    --blue-500: 59 130 246; /* #3b82f6 */
    --blue-600: 37 99 235; /* #2563eb */
    --blue-700: 29 78 216; /* #1d4ed8 */
    --blue-800: 30 64 175; /* #1e40af */
    --blue-900: 30 58 138; /* #1e3a8a */
    --blue-950: 23 37 84; /* #172554 */

    /* indigo */
    --indigo-50: 238 242 255; /* #eef2ff */
    --indigo-100: 224 231 255; /* #e0e7ff */
    --indigo-200: 199 210 254; /* #c7d2fe */
    --indigo-300: 165 180 252; /* #a5b4fc */
    --indigo-400: 129 140 248; /* #818cf8 */
    --indigo-500: 99 102 241; /* #6366f1 */
    --indigo-600: 79 70 229; /* #4f46e5 */
    --indigo-700: 67 56 202; /* #4338ca */
    --indigo-800: 55 48 163; /* #3730a3 */
    --indigo-900: 49 46 129; /* #312e81 */
    --indigo-950: 30 27 75; /* #1e1b4b */

    /* violet */
    --violet-50: 245 243 255; /* #f5f3ff */
    --violet-100: 237 233 254; /* #ede9fe */
    --violet-200: 221 214 254; /* #ddd6fe */
    --violet-300: 196 181 253; /* #c4b5fd */
    --violet-400: 167 139 250; /* #a78bfa */
    --violet-500: 139 92 246; /* #8b5cf6 */
    --violet-600: 124 58 237; /* #7c3aed */
    --violet-700: 109 40 217; /* #6d28d9 */
    --violet-800: 91 33 182; /* #5b21b6 */
    --violet-900: 76 29 149; /* #4c1d95 */
    --violet-950: 46 16 101; /* #2e1065 */

    /* purple */
    --purple-50: 250 245 255; /* #faf5ff */
    --purple-100: 243 232 255; /* #f3e8ff */
    --purple-200: 233 213 255; /* #e9d5ff */
    --purple-300: 216 180 254; /* #d8b4fe */
    --purple-400: 192 132 252; /* #c084fc */
    --purple-500: 168 85 247; /* #a855f7 */
    --purple-600: 147 51 234; /* #9333ea */
    --purple-700: 126 34 206; /* #7e22ce */
    --purple-800: 107 33 168; /* #6b21a8 */
    --purple-900: 88 28 135; /* #581c87 */
    --purple-950: 59 7 100; /* #3b0764 */

    /* fuchsia */
    --fuchsia-50: 253 244 255; /* #fdf4ff */
    --fuchsia-100: 250 232 255; /* #fae8ff */
    --fuchsia-200: 245 208 254; /* #f5d0fe */
    --fuchsia-300: 240 171 252; /* #f0abfc */
    --fuchsia-400: 232 121 249; /* #e879f9 */
    --fuchsia-500: 217 70 239; /* #d946ef */
    --fuchsia-600: 192 38 211; /* #c026d3 */
    --fuchsia-700: 162 28 175; /* #a21caf */
    --fuchsia-800: 134 25 143; /* #86198f */
    --fuchsia-900: 112 26 117; /* #701a75 */
    --fuchsia-950: 74 4 78; /* #4a044e */

    /* pink */
    --pink-50: 253 242 248; /* #fdf2f8 */
    --pink-100: 252 231 243; /* #fce7f3 */
    --pink-200: 251 207 232; /* #fbcfe8 */
    --pink-300: 249 168 212; /* #f9a8d4 */
    --pink-400: 244 114 182; /* #f472b6 */
    --pink-500: 236 72 153; /* #ec4899 */
    --pink-600: 219 39 119; /* #db2777 */
    --pink-700: 190 24 93; /* #be185d */
    --pink-800: 157 23 77; /* #9d174d */
    --pink-900: 131 24 67; /* #831843 */
    --pink-950: 80 7 36; /* #500724 */

    /* rose */
    --rose-50: 255 241 242; /* #fff1f2 */
    --rose-100: 255 228 230; /* #ffe4e6 */
    --rose-200: 254 205 211; /* #fecdd3 */
    --rose-300: 253 164 175; /* #fda4af */
    --rose-400: 251 113 133; /* #fb7185 */
    --rose-500: 244 63 94; /* #f43f5e */
    --rose-600: 225 29 72; /* #e11d48 */
    --rose-700: 190 18 60; /* #be123c */
    --rose-800: 159 18 57; /* #9f1239 */
    --rose-900: 136 19 55; /* #881337 */
    --rose-950: 76 5 25; /* #4c0519 */
}
